/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    /*header start*/
    .navbar-nav .nav-link {
        text-align: right;
    }
    .navbar-light .navbar-toggler-icon {
        background-color: yellow;
        border-radius: 5px;
    }
        .navbar-light .navbar-toggler {
        box-shadow: none;
        outline: 0 !important;
    }
    .img-fluid {
        max-width: 65%;
    }
    .menu ul li a {
        font-size: 15px;
        font-weight: 400;
        padding: 2px;
    }
    ul li a:hover{
        border: none;
    }
    /*header end*/
    /*slider start*/
    .round {
    width: 30%;
    margin-top: -165px;
    margin-left: 38%;
    }
    h1 {
    font-size: 14px;
    margin-bottom: 1px;
    margin-left: -47%;
    }
    .learn {
        font-size: 11px;
        margin-bottom: 5px;
        margin-left: -43%;
    }
    /*slider end*/

    /*tour section start*/
    .cwidth{
        margin-top: 20px;
    }
    .tour-i h1 {
        margin: 30px 0 auto;
        font-size: 19px;
        text-align: center;
    }
    .tour-i h3 {
        font-size: 12px;
        text-align: center;
        padding: 18px 0;
    } 
    .tour-i p {

    font-size: 12px;
}
    .tour-i button {
        margin-bottom: 30px;
    }
    .tour-i button a {
        font-size: 13px;
       
    }



    /*tour section end*/
     /*global section start*/
    .global-img {
        margin-bottom: 40px;
        margin-top: 10px;
        margin-left: 12px;
    }

    /*global secion end*/
    /*plan section start*/
    .plan-button {
        margin-bottom: 11px;
        margin-top: 0;
        font-size: 9px;
    }
    .plan-p {
        margin-top: 20px;
        font-size: 11px;
    }
    /*plan section end*/

    /*service section start*/
     /*heading start*/
     .h-service h1{
        margin: 27px 0 8px 0;
        font-size: 23px;
     }
     .h-service p {
        margin: 0 auto;
        font-size: 12px;
    }
     /*heading end*/

     /*item start*/
     .i-service {
        width: 277px;
        margin: 17px auto;
    }

     /*item end*/
    /*service section end*/

    /*auto number section start*/
    .box {
        width: 100%;
    }
    /*auto nuber section end*/

    /*video section start*/
    
    /*video section end*/

    /*isbesiter section start*/
    .is-content h1 {
        padding-top: 20px;
    }
    .is-content p {
        margin: 0 auto;
        font-size: 11px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 22px;
    }
    .is-content h5 {
        margin-top: 25px;
        font-size: 15px;
    }
    /*isbesiter section end*/
    /*footer start*/
    h6{
      font-size: 12px;  
    }
    .color{
        font-size: 16px;
    }
    /*footer end*/

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /*header start*/
    .navbar-nav .nav-link {
        text-align: right;
    }
    .navbar-light .navbar-toggler-icon {
        background-color: yellow;
        border-radius: 5px;
    }
        .navbar-light .navbar-toggler {
        box-shadow: none;
        outline: 0 !important;
    }
    .img-fluid {
        max-width: 75%;
    }
    .menu ul li a {
        font-size: 14px;
        font-weight: 400;
    }
    ul li a:hover{
        border: none;
    }
    /*header end*/
    /*slider start*/
    .round {
        width: 30%;
        margin-top: -279px;
        margin-left: 38%;
    }
    h1{
        font-size: 25px;
        margin-bottom: 5px;
        margin-left: -51%;
    }
    .learn {
        font-size: 16px;
        margin-bottom: 40px;
        margin-left: -38%;
    }
    /*slider end*/
    /*tour section start*/
    .cwidth{
        width: 75% !important;
        margin-left: 50px;
    }
    .tour-i h1 {
        font-size: 23px;
        text-align: center;
        margin-top: 44px;
    }
    .tour-i h3 {
        font-size: 14px;
        text-align: center;
        padding: 18px 0;
    } 
     .tour-i button {
        margin-bottom: 30px;
    }
    .tour-i button a {
        font-size: 13px;
       
    }

    /*tour section end*/

     /*global section start*/
     .global-img {
        margin-bottom: 50px;
        width: 75%;
        margin-left: 51px;
        margin-top: 10px;
    }
    /*global secion end*/
    /*plan section start*/
    .plan-button {
        margin-bottom: 15px;
        margin-top: 0;
        font-size: 12px;
    }
    .plan-p {
        margin-top: 39px;
        font-size: 16px;
    }
    /*plan section end*/

    /*service section start*/
     /*heading start*/

     /*heading end*/

     /*item start*/
    .i-service {
        width: 335px;
    }
    .h-service p {
        margin:0 auto;
        font-size: 15px;
    }
     /*item end*/
    /*service section end*/

    /*auto number section start*/
    .box {
    width: 50%;
    }
    /*auto nuber section end*/

    /*video section start*/
    /*video section end*/

    /*isbesiter section start*/
    .is-content p {
        margin: 0 auto;
        font-size: 13px;
    }
    .is-content h5 {
        margin-top: 25px;
        font-size: 15px;
    }
    /*isbesiter section end*/

       /*footer start*/
    h6{
      font-size: 14px;  
    }
    .color{
        font-size: 18px;
    }
    /*footer end*/
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /*header start*/
    .navbar-nav .nav-link {
        text-align: right;
    }
    .navbar-light .navbar-toggler-icon {
        background-color: yellow;
        border-radius: 5px;
    }
    .navbar-light .navbar-toggler {
        box-shadow: none;
        outline: 0 !important;
    }
    .img-fluid {
        max-width: 85%;
    }
    .menu ul li a {
        font-size: 14px;
        font-weight: 400;
    }
    ul li a:hover{
        border: none;
    }
    /*header end*/

    /*slider start*/
    .round {
        width: 25%;
        margin-top: -323px;
        margin-left: 68%;
    }
    i {
        font-size: 15px;
        margin: 0 3px
    
    }
   
    h1 {
        font-size: 26px;
        margin-bottom: 8px;
        margin-right: 40px;
    }

    .learn {
        font-size: 17px;
        margin-bottom: 58px;
        margin-left: 48%;
    }
    /*slider end*/
    /*tour section start*/
     .cwidth {
        width: 75% !important;
        margin-top:20px;
        margin-left: 43px;
    }

    .tour-i h1 {
        font-size: 37px;
        text-align: center;
        margin-top: 75px;
    }
    .tour-i h3 {
        font-size: 19px;
        text-align: center;
        padding: 14px 0;
    } 
    .tour-i p{
        font-size: 14px;
        
    }
    .tour-i button {
        margin-bottom: 30px;
    }
    .tour-i button a {
        font-size: 13px;
       
    }

    /*tour section end*/

    /*global section start*/
    .global-img {
        margin-bottom: 50px;
        width: 75%;
        margin-left: 106px;
        margin-top: 10px;
    } 
    /*global secion end*/
    /*plan section start*/
    .plan-button {
        margin: 30px 0;
        font-size: 10px;
    }
    .plan-p {
        margin-top: 39px;
        font-size: 16px;
    }
    /*plan section end*/

    /*service section start*/
     /*heading start*/
     .h-service p {
        margin: 0 auto;
    }
     /*heading end

     /*item start*/
    .i-service {
        width: 400px;
        margin: 23px 10px;
    }
     /*item end*/
    /*service section end*/

    /*video section start*/
    /*video section end*/

    /*isbesiter section start*/
    .is-content p {
        font-size: 14px;
    }
    .is-content h5 {
        font-size: 18px;
    }
    /*isbesiter section end*/
}
    
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /*header start*/
    .img-fluid {
        max-width: 90%;
    }
    .menu ul li a {
        font-size: 15px;
    }
    /*header end*/
    /*slider start*/
    i {
        font-size: 18px;
        margin: 0 12px;
    }
    h1 {
        font-size: 29px;
        margin-bottom: 18px;
    }

    .learn {
        font-size: 17px;
        margin-bottom: 130px;
        margin-left: 57%
    }
    /*slider end*/
    /*tour secton start*/
    .tour-i h1 {
        font-size: 28px;
    }
    .tour-i h3 {
        font-size: 16px;
    }
    .tour-i p{
        margin-bottom: 30px !important;
        font-size: 14px;
        display: flex;
        text-align: justify;
        line-height: 23px;
        letter-spacing: 1px;
    }
    /*tour section end*/

     /*global section start*/
    .global-img {
        margin-bottom: 46%
    }
    /*global secion end*/

    /*service section start*/
     /*heading start*/
     .h-service p {
        margin: 10px 154px 60px 175px;
        font-size: 16px;
    }
     /*heading end*/

     /*item start*/
     .i-service h3{
        font-size: 15px;
     }
     .i-service p{
        font-size: 11px;
     }
     .i-service {
        width: 280px;
    }
     /*item end*/
    /*service section end*/
}

/*Large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    
}

/*Extra Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {
    /*slider start*/
    .round {
        width: 24%;
        margin-top: -588px;
        margin-left: 71%;
    }
    i {
        font-size: 18px;
        margin: 0 25px;
    }
    .ps {
        font-weight: 700;
        color: #fde428;
        font-size: 17px;
    }
    h1 {
        font-size: 47px;
        margin-bottom: 14px;
        margin-right: 13px;
    }

    .learn {
        font-size: 29px;
        margin-bottom: 138px;
        margin-left: 56%;
    }
    /*slider end*/
    /*tour secton start*/
    .tour-i h1 {
        font-size: 35px;
    }
    .tour-i h3 {
        font-size: 19px;
    }
    .tour-i p{
        font-size: 15px;
        
    }
    /*tour section end*/

     /*global section start*/
    
    /*global secion end*/

    /*service section start*/
     /*heading start*/

     /*heading end*/

     /*item start*/
     .i-service {
        width: 390px;
    }
     /*item end*/
    /*service section end*/

    /*isbesiter section start*/
    .is-content p {
        font-size: 18px;
    }
    /*isbesiter section end*/
}